
#title{
    margin-top: 10px;
    margin-bottom: 55px;
    font-size: 30px;
    color: #ffffff;
    text-shadow:-2px 0 rgb(0,0,0,0.1),		/* 向左阴影 */
    0 -2px rgb(0,0,0,0.1),				/* 向上阴影 */
    2px 0 rgb(0,0,0,0.1),					/* 向右阴影 */
    0 2px rgb(0,0,0,0.1);
}

.el-form-item {
    margin-bottom: 5px;
}
.el-input__inner {
    border-color: #ccc !important;
    border-radius: 10px !important;
    background-color: #ffffff !important;
    color: #333;
    box-shadow: 0 0 10px rgba(255,255,255,0.1) !important;

}
.el-input__icon {
    color: #666;
}
a {
    text-decoration: none;
    color: rgb(239, 157, 72);
    font-weight: bold;

}
.regBox {
    color: rgb(239, 157, 72);
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;

}