

.el-menu-item:hover,.el-submenu__title:hover{
    background-color: rgb(250, 165, 76,0.7);

}

.el-menu-item.is-active{
    color:green;
    background-color: whitesmoke;
    font-size: medium;

}

.el-header{
    height: 50px;
    background-color: white;
    line-height: 60px;
    align-content: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(217, 217, 217,80%);
    border-width: 2px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10%;

}

#photo{
    height: 50px;
    width:50px;
    border-radius: 10px ;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(26, 161, 74);
    margin-right: 30px;
}

#userid{
   color:  rgb(26, 161, 74);
    font-style: italic;
    font-weight: bolder;
    font-size:large;
    margin-right:15px;
}

.el-container{
    height: 900px !important;

}


.el-aside {
    background-color:white;
    overflow: hidden;
    height: 900px;
    border-style: solid;
    border-color: rgba(217, 217, 217, 0.8);
    border-radius: 10px;
    border-width: 2px;
}


/*上传头像相关样式*/
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: rgb(26, 161, 74);
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.avatar {
    width: 80px;
    height: 80px;
    display: block;
}