* {
    margin: 0;
    padding: 0;

}
.mb80{
    clear:both;
    height:80px;
}

.mb5{
    clear:both;
    height:5px;
}

.mb15{
    clear:both;
    height:15px;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap{

    margin-left:auto;
    margin-top: auto;
    width: 100%;
    height:100%;

}


body {
    width: 100%;
    height: 100%;
    background-color: #fffcfa;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><path d='M20 0H0V20' stroke='%23000000' stroke-opacity='0.05' fill='none'/></svg>") !important;
    background-size: 50px 50px;

}


.navi{
    background-color: lightgrey;
    width:95%;
    height:60px;
    left: 2.5%;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    box-shadow: #cccccc 0px 0px 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:left ;
    align-items: center;
    z-index: 999;
}

#title {
    width: 14%;
    font-size:0.9vw;
    margin-left: 5%;
    justify-content: center;
    text-shadow: 3px 0px 0px lime;
    white-space:nowrap;
}



#tab{

    width: 50%;
    height: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    white-space:nowrap;
    gap: 10px;
    padding: 0 10px;
}

.qw{
    margin:0 auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    width: 10vw;
    height: 45px;
    max-width: 1000px;
    background-color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-size:0.9vw;
}

.qw:hover{
    font-weight: 1000;
    border-bottom-width: 3px;
    border-color: darkgrey;
    border-bottom-style: solid;
    box-shadow: 0px 0px 0px 1px lime;
}

.el-botton:active{
    font-weight: 1000;
    border-bottom-width: 3px;
    border-color: darkgrey;
    border-bottom-style: solid;
    box-shadow: 0px 0px 0px 1px lime;
}



#user{
    width: 10%;
    height:45px;
    margin-left: 5%;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    background-color:black;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight:300;
    font-size:0.9vw;
    color: white;
}

#user:hover{
    background-color:white;
    border-color: black;
    border-width: 1px;
    color: lime;
}

.content{
    margin:0 auto;

    width: 95%;
    height: 100%;
}

#right{
    margin-left: 4%;
}

.header-dropdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;

}
.head{
    width: 50px;
    height: 50px;
    margin-top: 3px;
    border-radius: 10px;
    border: 1px solid ;
    border-color: lime;

}

.main{
    width: 100% !important;
}

